{% extends 'base.html' %}
{% block content %}

    <h1>About BookCase</h1>
<hr />
<p>Enter in your books!</p>
<h3> 10 Reasons You Should Read More Books</h3>
<p>1. To Develop Your Verbal Abilities</p>
<p>2. Improves Your Focus And Concentration</p>
<p>3. Readers Enjoy The Arts And Improve The World</p>
<p>4. It Improves Your Imagination</p>
<p>5. Reading Makes You Smarter</p>
<p>6. It Makes You Interesting And Attractive</p>
<p>7. It Reduces Stress</p>
<p>8. It Improves Your Memory</p>
<p>9. To Discover And Create Yourself</p>
<p>10. For Entertainment</p>
{% endblock %}
