body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: cornflowerblue;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.nav-wrapper {
    background-color: rgb(160, 160, 160);
}

.page-footer {
    background-color: rgb(160, 160, 160);
}

#home-page {
    color: rgb(160, 160, 160);
    text-shadow: 2px 2px 2px white;
    text-align: center;
}

#about-page {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#add-page {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#details-page {
    text-align: center;
    color: rgb(160, 160, 160);
    text-shadow: 2px 2px 2px black;
}

.card-content {
    font-weight: 500px;
}

.card-title {
    text-align: center;
    font-size: 20px;
}